@model CategoryViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <br />
    <label>Kategori Adı</label>
    <input  type="text" class="form-control" asp-for="CategoryName"/>
    <br />
    <label>Kategori Aaçıklaması</label>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <button class="btn btn-outline-primary">Kategoriyi Ekle</button>


</form>
